@media (min-width: 768px) {

    body {
        background-color: #f8f3e7;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    header {
        padding: 20px;
        position: sticky;
        top: 0;
        background-color: #c5c1bd;
    }

    .title {
        text-align: center;
        margin: 0 auto;
    }

    .btn_inicio {
        text-decoration: none;
        color: #f8f3e7;
        display: inline-block;
        outline: #283C46;
        font-size: 50px;
        margin: 0 auto;
    }

    .main {
        display: flex;
        align-items: center;
        max-width: 900px;
        margin: 40px auto;
        gap: 40px;
        padding: 0 20px;
    }

    .historia_contenido,
    .historia_perro {
        flex: 1;
    }

    .historia_perro img {
        width: 100%;
        height: auto;
        display: block;
    }

    .subtitle {
        color: #283C46;
        font-size: 35px;
        margin: 0 0 10px 0;
        padding: 0;
        white-space: nowrap;
    }

    .text {
        color: #283C46;
        font-size: 20px;
        margin: 0 0 15px 0;
        padding: 0;
    }

    .btn_ver_mas {
        background: none;
        border: none;
        cursor: pointer;
        color: #283C46;
        font-weight: bold;
        font-size: 18px;
        text-decoration: underline;
        display: inline-block;
    }
}